*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    transition: ease all 0.3s;
}
a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.icone{
    height: 35px;
    width: 35px;
}
.line{
    background-color: #ddd;
    border-radius: 35%;
    width: 100%;
    height: 3px;
}
.menuOp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    width: 30px;
    gap: 7px;
    cursor: pointer;
}
header a h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Dancing Script", cursive;
    color: #ddd;
    font-size: 24px;
    font-weight: 600;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #6e548d;
    border-bottom: 3px solid #806c99;
}
main{
    color: #000;
    background-color: #c2b8cc;
    min-height: 100vh;
    width: calc(100vw - 120px);
    padding: 20px 60px;
    font-family: "Noto Serif", serif;
}
.hero{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
}
.hero h2{
    font-size: 24px;
    margin: 15px;
}
.hero_down p{
    flex: 1/4;
    height: 100%;
    width: 100%;
}
.hero_down img{
    height: 100%;
    width: 100%;
    flex: 1/2;
}
.hero_down{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 0;
    background-color: #6e548d;
    color: #ddd;
    border-top: 3px solid #806c99;
}
.noticias{
    background-color: #c6c0cb;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.left_area{
    gap: 5px;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right_area{
    align-items: center;
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
h3{
    margin-bottom: 20px;
    font-size: 22px;
}
.coracao{
    height: 12px;
    width: 12px;
}
.read_more{
    margin-bottom: 15px;
    background-color: #9a35f2;
    color: #fff;
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 7%;
    border: 0;
    cursor: pointer;
}
.read_more:hover{
    box-shadow: 0 0 4px #6e548d;
    opacity: 0.8;
}
.xis_anuncio{
    display: flex;
    gap: 0;
}
.xis_anuncio svg{
    border: 1px solid #000;
    color: #fff;
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: rgba(0, 0, 0, 0.2);
}
.banuncio{
    cursor: pointer;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 315px;
    width: 315px;
}
.anuncio{
    align-self: center;
    background-position: center;
    background-size: contain;
    height: 300px;
    width: 169px;
    background-image: url('https://i.pinimg.com/736x/db/97/d8/db97d839cc78439b1beb7874f31acfcd.jpg');
}
.right_area .noticia{
    padding: 15px;
    border: 1px solid #6e548d;
    border-radius: 10%;
}
.right_area .noticia:hover{
    opacity: 0.9;
    box-shadow: 0 0 3px #000;
}
.noticia{
    color: #000;
    gap: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.left_area .noticia img{
    background-size: auto;
    height: 150px;
    width: 150px;
    background-position: right;
    border-radius: 5%;
}
.right_area .noticia img{
    height: 75px;
    background-size: contain;
}
.left_area .noticia{
    padding-bottom: 3px;
    padding-left: 10px;
    border-bottom: 1px solid #6e548d;
}
.left_area .noticia:hover{
    opacity: 0.9;
}
.lft_area{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p, footer b{
    padding: 0 40px;
}
.menu{
    display: flex;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;

}
.menu div{
    height: 350px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #fff;
    box-shadow: 0 0 10px #898989;
    background-color: #6e548d;
    padding: 30px;
    border-radius: 4%;
}


@media (max-width:420px){
    header{
        padding: 20px 20px;
    } 
    header a h1{
        gap: 50px;
    }
    .hero_down{
        flex-direction: column;
    }
    main{
        padding: 20px 30px;
        width: calc(100vw - 60px);
    }
    .noticias{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .left_area{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .right_area{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        gap: 7px;
    }
    .right_area .noticia{
        margin: 0 5px
    }

    .noticia{
        flex-direction: column;
    }
    .lft_area{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    footer{
        padding: 25px 0;
    }
    footer p, footer b{
        padding: 0 20px;
    }
}